*{
    padding: 0;
    margin: 0;
    background-image: url(Fondo.png);   
    font-family: sans-serif;
    background-position-x: 50%;
}

h1{
    text-align: center;
    background-color: #757575;
    color: white;
    padding: 40px;
}

.btn_neo{
    position:absolute;
    top: 60%;
    right: 35%;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    text-align: center;
    margin: auto;
}
.btn_neo:hover{
    background: green;
    box-shadow: 0 0 10px green, 0 0 40px green, 0 0 80px green;
}
a{
    position: absolute;
}
